<div style="max-height: 600px; overflow-y: auto;">
  <ul class="list-group d-flex flex-column gap-2" id="listPlaces">
    <div class="card" style="width: 18rem;">
      <img src="https://placehold.co/100x50" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-title">Favoritos</h6>
        <p class="card-text">Calificación  4.8</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Solicitar
        </button>
      </div>
    </div>
  </ul>
</div>