{% extends "admin_module/base_admin.html" %}

{% load static %}


{% block title %}Agenda de Citas{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'admin_module/css/citas.css' %}">
{% endblock %}


{% block content %}

<style>

</style>

<h1 class="mb-4">Agenda de Citas</h1>

<!-- TARJETAS INFORMATIVAS -->
<div class="row mb-4">

    <div class="col-md-3 col-sm-6 col-12">
        <div class="card card-border-color mb-3" style="max-width: 18rem;">
            <div class="card-header">Total Citas</div>
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2>{{ resumen.total_dates }}</h2>
                    </div>
                    <i class="fas fa-calendar-check fs-1"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
        <div class="card card-border-color mb-3" style="max-width: 18rem;">
            <div class="card-header">Completadas</div>
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2>{{ resumen.completadas }}</h2>
                    </div>
                    <i class="fas fa-check-circle fs-1"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
        <div class="card card-border-color mb-3" style="max-width: 18rem;">
            <div class="card-header">Agendadas</div>
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2>{{ resumen.agendadas }}</h2>
                    </div>
                    <i class="fas fa-hourglass-half fs-1"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12">
        <div class="card card-border-color mb-3" style="max-width: 18rem;">
            <div class="card-header">Canceladas</div>
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2>{{ resumen.canceladas }}</h2>
                    </div>
                    <i class="fas fa-times-circle fs-1"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">

    </div>

    <!-- DATATABLE -->
    <div class="tab-content" id="adminTabsContent">
        <!-- Pestaña de citas -->
        <div class="tab-pane fade show active" id="citas" role="tabpanel">
            <div class="d-flex justify-content-between mb-3">
                <h4><i class="fas fa-users-cog"></i> Gestión de Establecimiento</h4>
                <button class="btn btn-primary" id="abrir-formulario">
                    <i class="fas fa-plus"></i> Agregar Cita Rapida
                </button>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-hover display" id="tabladates">
                    <thead class="table-dark">
                        <tr>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Cliente</th>
                            <th>Barbero</th>
                            <th>Servicios</th>
                            <th>Precio</th>
                            <th>Barberia</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for date in dates %}
                        <tr>
                            <td>{{ date.date.date }}</td>
                            <td>{{ date.date.time }}</td>
                            <td>{{ date.customer.first_name }} {{ date.customer.last_name }}</td>
                            <td>{{ date.barber.first_name }} {{ date.barber.last_name }}</td>
                            <td>{{ date.service.service.name_service }}</td>
                            <td>{{ date.price_total }}</td>
                            <td>{{ date.service.establishment.name_est }}</td>
                            <td> {{ date.status }} </td>
                            <td>
                                <button class="btn btn-sm btn-warning btnActualizarDate" data-id="{{ date.id }}"
                                    data-barber_id="{{ date.barber.id }}"
                                    data-barber_name="{{ date.barber.first_name }} {{ date.barber.last_name }}"
                                    data-service_id="{{ date.service.name_service }}" data-status="{{ date.status }}"
                                    data-comments="{{ date.comments }}" data-bs-toggle="modal"
                                    data-bs-target="#modalEditarDate">
                                    <i class="fas fa-edit"></i>
                                </button>

                                <button class="btn btn-sm btn-danger btnCancelDate " data-id="{{ date.id }}"
                                    data-status="{{ date.status }}" data-bs-toggle="modal"
                                    data-bs-target="#modalCancelDate">
                                    <i class="">Cancelar</i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        <div class="modal fade" id="modalEditarDate" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" action="{% url 'admin_module:actualizar_cita' %}">
                        {% csrf_token %}
                        <!-- Campo oculto para el ID del establecimiento -->
                        <input type="hidden" id="inputDateId" name="date_id">

                        <div class="modal-body">

                            <div class="mb-3">
                                <label>Barbero</label>
                                <select class="form-select" id="inputBarbero" name="barber_id">
                                    {% for barbero in barberos %}
                                    <option value="{{ barbero.id }}">{{ barbero.first_name }} {{ barbero.last_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label>Estado</label>
                                <select class="form-select" id="inputestado" name="status">
                                    <option value="">Todos</option>
                                    <option value="Agendada">Agendada</option>
                                    <option value="Cancelada">Cancelada</option>
                                    <option value="Completada">Completada</option>
                                </select>
                            </div>

                            <!-- Agrega más inputs para ciudad, país, etc. -->
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar Cita</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal fade" id="modalCancelDate" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <form id="formCancelDate" method="POST" action="{% url 'admin_module:cancelar-cita' %}">
                    {% csrf_token %}
                    <div class="modal-content">
                        <input type="hidden" name="date_id" id="cancelDateId">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirmar Cancelacion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            <p>¿Estás seguro que deseas cancelar la cita?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            <button type="submit" class="btn btn-danger">Estoy Seguro</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- Modal Crear Cita -->
        <div class="modal fade" id="modalCrearCita" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="formCrearCita" method="post" action="{% url 'admin_module:crear_cita' %}">
                        {% csrf_token %}
                        <div class="modal-body" id="modal-body-content">
                            <!-- Aquí se carga el formulario con AJAX -->
                        </div>
                    </form>
                </div>
            </div>
        </div>



        <!-- JavaScript para el panel de administración -->
        <script>
            $(document).ready(function () {
                // Inicializar Tabla de dates
                $('#tabladates').DataTable({
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/2.3.2/i18n/es-ES.json'
                    },
                    dom: '<"d-flex justify-content-between mb-2"fB>rt<"d-flex justify-content-between mt-2"lip>',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ],
                    pageLength: 10,
                });

                $('.btnActualizarDate').on('click', function () {
                    const id = $(this).data('id');
                    const barbero = $(this).data('barber_id');
                    const estado = $(this).data('status');

                    $('#inputDateId').val(id);  // Aquí guardamos el ID de la cita
                    $('#inputBarbero').val(barbero);
                    $('#inputestado').val(estado);
                });


                // Boton para eliminar establecimiento
                $('.btnCancelDate').on('click', function () {
                    const id = $(this).data('id');
                    const estado = $(this).data('status');

                    $('#cancelDateId').val(id);

                });
            });


            $('#abrir-formulario').on('click', function () {
                const modal = new bootstrap.Modal(document.getElementById('modalCrearCita'));
                modal.show();

                $.ajax({
                    url: "{% url 'admin_module:crear_cita_form' %}",
                    type: "GET",
                    success: function (data) {
                        $('#modal-body-content').html(data); // insertar formulario
                    },
                    error: function () {
                        $('#modal-body-content').html('<p>Error al cargar el formulario.</p>');
                    }
                });
            });



        </script>




    </div>

    </form>
</div>
</div>



{% endblock %}