<div class="card shadow-sm border-0 h-100 w-100">
  <div class="card-body d-flex flex-column justify-content-between">
    <div class="d-flex justify-content-between align-items-center mb-2">

      <h6 class="card-title mb-0 text-truncate overflow-hidden">{{ card.title }}</h6>
      <div class="text-muted fs-4 ms-2 flex-shrink-0">{{ card.icon|safe }}</div>
    </div>

    <div class="my-2 flex-grow-1">
      <h3 class="fw-bold mb-0 {{ card.theme_class }}">{{ card.value }}</h3>
      
      {% if card.btn_url %}
        <div class="mt-2">
          <a href="{{ card.btn_url }}" class="btn btn-outline-primary btn-sm w-100">Gestión</a>
        </div>
      {% endif %}
    </div>

  </div>
</div>
