{% load static %}
<link rel="stylesheet" href="{% static 'login_module/css/login.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="container">
    <div class="login-form">
      <img src="/static/login_module/img/logobarberb2.png" alt="LogoB2" class="LogoB2">

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'password_reset' %}" class="forgot">Olvido contraseña?</a>
        <br>
        <br>
        <button type="submit" class="btn-login">INICIAR</button>

        <div class="social-login">
          <br>
          <button class="btn-facebook">Conectar con Facebook <i class='bx bxl-facebook-circle'></i> Facebook</button>
        </div>

        <div class="registrar-mobile">
          <p>¿Eres Nuevo? <a href="{% url 'tipo_rol' %}">INICIAR</a></p>
        </div>
      </form>
    </div>

    <div class="side-panel">
      <div class="overlay">
        <h3>Registrate</h3>
        <p>Te ayudamos a destacar, conectar y crecer en grande.!</p>
        <a href="{% url 'registro_usuario' %}" class="btn-signup">REGISTRO</a>
    </div>
  </div>
</div>

{% if form.errors %}
<p style="color: red;">Usuario o contraseña incorrectos</p>
{% endif %}