<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
<link rel="stylesheet" href="{% static 'login_module/css/tipo_rol.css' %}">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <h2>¿Con que rol quieres ingresar hoy?</h2>
        <p>Seleccione el rol con el que quiere ingresar al sistema, basado en su eleccion sus permisos seran diferentes
        </p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="rol" value="Administrador">Administrador</button>
            <button type="submit" name="rol" value="Barbero">Barbero</button>
        </form>

    </div>

</body>

</html>