<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Login_Module/Css/terminos&condiciones.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <title>Terminos & Condiciones</title>
</head>
<body>
    <div class="TC">
         <i class="bi bi-journal-bookmark-fill" style="font-size: 4rem; display: block; text-align: center; margin-bottom: 10px"></i>
        <h1>Terminos y Condiciones</h1>
        <h2>14/05/2025</h2>
          <h3> 
1. Objeto del Servicio
El Servicio permite a los usuarios buscar barberías, conocer sus servicios, ubicaciones, horarios y, en algunos casos, agendar citas en línea. Esta plataforma tiene fines informativos y de conexión entre usuarios y establecimientos.

2. Registro y Responsabilidad del Usuario
Al registrarte o utilizar el sistema, te comprometes a proporcionar información verdadera, actual y completa. Eres responsable de proteger tus credenciales de acceso y del uso que hagas del sistema con tu cuenta.

3. Uso Permitido
Solo puedes utilizar este servicio para fines personales y legítimos. Está prohibido:

Usar bots o scripts automatizados para recopilar información.

Ingresar datos falsos o agendar citas sin intención real.

Publicar contenido ofensivo, engañoso o que viole derechos de terceros.

4. Información de Barberías
La información publicada sobre las barberías (nombres, horarios, servicios, precios, etc.) es proporcionada directamente por los propietarios o responsables de los establecimientos. No garantizamos la veracidad o disponibilidad constante de dicha información.

5. Responsabilidad
El Servicio actúa como un intermediario entre usuarios y barberías. No somos responsables de la calidad de los servicios prestados por los establecimientos, ni de conflictos que puedan surgir entre ambas partes.

6. Propiedad Intelectual
Todo el contenido de esta plataforma (textos, diseño, logos, etc.) está protegido por derechos de autor. No puedes copiar, modificar o distribuir ninguna parte sin autorización.

7. Modificaciones
Nos reservamos el derecho de actualizar estos Términos y Condiciones en cualquier momento. Te notificaremos cualquier cambio relevante, y el uso continuado del servicio implicará que aceptas las modificaciones.
        </h3> 
         <div style="text-align: center; margin-top: 20px;">
                <button type="button" class="button">Acepto</button>
              </div>
         </div>
              

    </div>
    
</body>
</html>