<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login_module/Css/terminosycondiciones.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <title>Terminos & Condiciones</title>
</head>
<body>
    
    <div class="TC">
         <i class="bi bi-journal-bookmark-fill" style="font-size: 4rem; display: block; text-align: center; margin-bottom: 10px"></i>
        <h1>Terminos y Condiciones</h1>
        <h2>14/05/2025</h2>
          <h3> 
            Términos y Condiciones para el Tratamiento de Datos Personales
Última actualización: [Fecha actual]

En cumplimiento de lo dispuesto en la Ley 1581 de 2012 y el Decreto 1377 de 2013, el presente documento establece los términos y condiciones bajo los cuales se realiza el tratamiento de los datos personales recopilados a través de la plataforma [Nombre del sitio web o aplicación, por ejemplo: WebBarberB].

1. Responsable del Tratamiento
Nombre del Responsable: [BarberB]
Correo electrónico: [ejemplo@email.com]
Teléfono de contacto: [3208630530]


2. Finalidad del Tratamiento de Datos
Los datos personales proporcionados por los usuarios serán utilizados para las siguientes finalidades:

Gestión de reservas y servicios prestados por la barbería.

Comunicación con los usuarios sobre sus solicitudes, agendamientos o cambios de horario.

Envío de información promocional relacionada con los servicios ofrecidos.

Análisis interno para mejorar la experiencia del usuario.

Cumplimiento de obligaciones legales.

3. Derechos del Titular de los Datos
Como titular de los datos personales, usted tiene derecho a:

Conocer, actualizar y rectificar sus datos.

Solicitar prueba de la autorización otorgada para el tratamiento.

Ser informado sobre el uso que se le ha dado a sus datos.

Presentar quejas ante la Superintendencia de Industria y Comercio por infracciones a la ley.

Revocar la autorización y/o solicitar la supresión de sus datos.

4. Almacenamiento y Confidencialidad
Los datos serán almacenados de forma segura y confidencial, y no serán compartidos con terceros sin el consentimiento expreso del titular, salvo obligación legal.

5. Autorización
Mediante el uso de esta plataforma, el titular autoriza de manera libre, expresa e informada el tratamiento de sus datos personales para los fines mencionados anteriormente.

6. Vigencia
Los datos personales serán tratados durante el tiempo que sea necesario para cumplir con las finalidades mencionadas o según lo estipulado por la ley.


        </h3> 
         <div style="text-align: center; margin-top: 20px;">
               <a href="{% url 'login_module:registro_usuario' %}" class="button">Acepto</a>
              </div>
         </div>
         </div>
        
              

    </div>
    
</body>
</html>