<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>BarberB - Inicio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/Style.css' %}">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    


  <section class="hero">
    <img src="/static/login_module/img/logobarberb2.png" alt="LogoB2" class="Logo">
    <h1>Tu estilo, nuestra pasión</h1>
    <p>Transformamos tu look con profesionalismo, precisión y actitud.</p>
    <a href="{% url 'login' %}" class="boton">Inicio</a>
  </section>

  <section class="hero2">
    <h1>Conocenos</h1>
     <div class="card1">
        <img src="/static/core/css/img/6.jpg" alt="Barbería Norte">
        <h3>Busca la barberia mas cercanas</h3>
      </div>
    <p>Hacemos que tengas un mayor alcance, que llegues a mas usuarios nuevos</p>
   


  <section class="barberias">
    <h2>Nuestros Servicios</h2>
    <div class="cards">
      <div class="card">
        <img src="/static/core/css/img/1.jpg" alt="Barbería Centro">
        <h3>Cortes</h3>
        <p>Explora estilos únicos y barberos de confianza, recomendados por cientos de clientes satisfechos.</p>
      </div>
      <div class="card">
        <img src="/static/core/css/img/4.jpg" alt="Barbería Norte">
        <h3>Mascarillas</h3>
        <p>Descubre dónde hacerte mascarillas faciales con total seguridad y cuidado profesional. </p>
      </div>
      <div class="card">
        <img src="/static/core/css/img/3.jpg" alt="Barbería Sur">
        <h3>Perfilados</h3>
        <p>Encuentra expertos en perfilado de barba y cejas para un look impecable.

 </p>
      </div>
    </div>
  </section>

  <footer>
    <p> © 2025 BarberB somos un meta buscardor dedicado a la busqueda de barberias mas cercanas a ti</p>
  </footer>
</body>
</html>