<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/core/css/Barber.css">
    <title>Register/Barber</title>
</head>
<body>
    <div class="Barber">
        <form action="">
            <img src="../../static/core/img/barbero1.png" alt="barbero1" class="barbero1">
            <h1>Registro Barbero</h1>
            <div class="input-box">
              <input type="text" placeholder="Nombres
              " required>
            </div>
      
              <div class="input-box">
                <input type="text" placeholder="Apellidos" required>
              </div> 
      
                <div class="input-box">
                  <input type="text" placeholder="Correo Electronico" required>
                </div>
      
                  <div class="input-box">
                    <input type="text" placeholder="Numero de celular" required>
                  </div> 
      
                  <div class="input-box">
                    <input type="text" placeholder="Direccion" required>
                  </div> 
      
                    <div class="input-box">
                      <input type="text" placeholder="Contraseña" required>
                      <small class="input-help">Minimo 10 caracteres use mayusculas y minusculas
                        y un caracter #!@.</small>
                     </div>
      
                     <div class="input-box">
                      <input type="text" placeholder="Confirmar Contraseña" required>
                     </div>
      
                     <div class="terminos">
                      <label><input type="checkbox">Aceptar politicas de privacidad</label>
                      <a href="#">Leer terminos y condiciones</a>
                  </div>
      
                  <div class="Validar">
                    <label><input type="checkbox">Validar Correo</label>
               </div>
               <div style="text-align: center; margin-top: 20px;">
                <button type="button" class="button">Confirmar Registro</button>
              </div>
    </div>
</body>
</html>