<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro/Usuario</title>
    <link rel="stylesheet" href="../../static/core/css/user.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body>
  <div class="record">  
    <form action="">
     <i class="bi bi-person-fill-check"style="color:#DAA520; font-size: 4rem; display: block; text-align: center; margin-bottom: 10px;"></i>
      <h1>Registro Usuario </h1>
      
<div class="input-box">
  <select required>
    <option value="" disabled selected>Tipo de Documento</option>
    <option value="cc">Cédula de Ciudadanía</option>
    <option value="ti">Tarjeta de Identidad</option>
    <option value="ce">Cédula de Extranjería</option>
    <option value="pp">Pasaporte</option>
    <option value="nit">NIT</option>
  </select>
</div>

      

      <div class="input-box">
        <input type="text" placeholder="Documento" required>
      </div>
      
      <div class="input-box">
        <input type="text" placeholder="Nombres
        " required>
      </div>

        <div class="input-box">
          <input type="text" placeholder="Apellidos" required>
        </div> 

          <div class="input-box">
            <input type="text" placeholder="Correo Electronico" required>
          </div>

            <div class="input-box">
              <input type="text" placeholder="Numero de celular" required>
            </div> 

            <div class="input-box">
              <input type="text" placeholder="Direccion" required>
            </div> 

              <div class="input-box">
                <input type="text" placeholder="Contraseña" required>
                <small class="input-help">Minimo 10 caracteres use mayusculas y minusculas
                  y un caracter #!@.</small>
               </div>

               <div class="input-box">
                <input type="text" placeholder="Confirmar Contraseña" required>
               </div>

               <div class="terminos">
                <label><input type="checkbox">Aceptar politicas de privacidad</label>
                <a href="#">Leer terminos y condiciones</a>
            </div>

            <div class="Validar">
              <label><input type="checkbox">Validar Correo</label>
         </div>
         <div style="text-align: center; margin-top: 20px;">
          <button type="button" class="button">Confirmar Registro</button>
        </div>
    </form>
</body>
</html>