<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipe/Rol</title>
    <link rel="stylesheet" href="../../static/core/css/Rol.css">


</head>
<body>
 
    <div class="Rol">
       <img src="../../static/core/img/LogoBarberB2.png" alt="LogoB2" class="LogoB2">
        <h1>Tipo de Registro</h1>
        <div style="text-align: center; margin-top: 20px;">
            <button type="button" class="button">Usuario</button>
          </div>

          <div style="text-align: center; margin-top: 20px;">
            <button type="button" class="button">Barbero</button>
          </div>

          <div style="text-align: center; margin-top: 20px;">
            <button type="button" class="button">Administrador</button>
          </div>
</body>
</html>