{% extends "admin_module/base_admin.html" %}
{% load static %}

{% block title %}Gestión de Inventario{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="d-flex justify-content-between mb-3">
        <h4><i class="fas fa-users-cog"></i> Productos</h4>
        <button class="btn btn-primary" id="btnModalAddProduct">
            <i class="fas fa-plus"></i> Agregar
        </button>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover display" id="tblInventory">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Stock</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name_product }}</td>
                        <td>{{ product.description_product }}</td>
                        <td>{{ product.amount }}</td>
                        <td>{{ product.price_product }}</td>
                        <td>
                            <button class="btn btn-sm btn-warning btnActualizarEst"
                                
                                data-bs-toggle="modal"
                                data-bs-target="#modalEditarEstablecimiento">
                                <i class="fas fa-edit"></i>
                            </button>

                            <button class="btn btn-sm btn-danger btnDeleteProduct " data-id="{{ product.id }}"
                                data-name="{{ product.name_product }}" data-bs-target="#modalDeleteProduct">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Agregar Producto -->
<div class="modal fade" id="modalAddProduct" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modalBodyAddProduct">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">Agregar Producto</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEditarProducto" tabindex="-1" aria-hidden="true">
  <!-- Contenido similar al modal de agregar pero con datos precargados -->
</div>

<div class="modal fade" id="modalDeleteProduct" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form id="formDeleteProduct" method="POST">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro que deseas eliminar el producto <strong id="lblProductName"></strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {

        $('#tblInventory').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/2.3.2/i18n/es-ES.json'
            },
            dom: '<"d-flex justify-content-between mb-2"fB>rt<"d-flex justify-content-between mt-2"lip>',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            pageLength: 10,
        });

        $('#btnModalAddProduct').on('click', function() {
            $('#modalBodyAddProduct').html('<p>Cargando formulario...</p>');
            $('#modalAddProduct').modal('show');

            $.ajax({
                url: '../producto/agregar/',
                method: 'GET',
                success: function (data) {
                    $('#modalBodyAddProduct').html(data);
                },
                error: function () {
                    $('#modalBodyAddProduct').html('<p>Error al cargar el formulario.</p>');
                }
            });
        });

        $('.btnDeleteProduct').on('click', function() {
            let btn = $(this);
            let productId = btn.data('id');
            let productName = btn.data('name');
            $('#lblProductName').text(productName);
            $('#formDeleteProduct').attr('action', `../producto/eliminar/${productId}/`);
            
            $('#modalDeleteProduct').modal('show');
        });

    })
</script>

{% endblock %}