{% extends "admin_module/base_admin.html" %}
{% load static %}

{% block title %}Gestión de Inventario{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="d-flex justify-content-between mb-3">
        <h4><i class="fas fa-users-cog"></i> Productos</h4>
        <button class="btn btn-primary btnModalProduct">
            <i class="fas fa-plus"></i> Agregar
        </button>
    </div>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin_module/css/table_product.css' %}">




    <div class="table-responsive">
        <table class="table table-striped table-hover display" id="tblInventory">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Stock</th>
                    <th>Categoria</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name_product }}</td>
                        <td>{{ product.description_product }}</td>
                        <td>{{ product.amount }}</td>
                        <td>{{ product.category.name }}</td>
                        <td>{{ product.price_product }}</td>
                        <td>
                            <button class="btn btn-sm btn-warning btnModalProduct" data-id="{{ product.id }}">
                                <i class="fas fa-edit"></i>
                            </button>

                            <button class="btn btn-sm btn-danger btnDeleteProduct " data-id="{{ product.id }}"
                                data-name="{{ product.name_product }}" data-bs-target="#modalDeleteProduct">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modalProduct" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" id="modalFormProduct">
        <!-- Se carga el formulario del producto aquí a traves de petición GET. -->
    </div>
</div>

<div class="modal fade" id="modalDeleteProduct" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form id="formDeleteProduct" method="POST">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro que deseas eliminar el producto <strong id="lblProductName"></strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {

        $('#tblInventory').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/2.3.2/i18n/es-ES.json'
            },
            dom: '<"d-flex justify-content-between mb-2"fB>rt<"d-flex justify-content-between mt-2"lip>',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            pageLength: 10,
        });

        $('.btnModalProduct').on('click', function() {
            $('#modalFormProduct').html('<p>Cargando formulario...</p>');

            let btn = $(this);
            let productId = btn.data('id');
            if (productId) {
                $.ajax({
                    url: `../producto/editar/${productId}/`,
                    method: 'GET',
                    success: function (data) {
                        $('#modalFormProduct').html(data);
                        $('#formProductTitle').html("Editar Producto");
                        $('#formProduct').attr('method', 'post');
                        $('#formProduct').attr('action', `../producto/editar/${productId}/`);
                        $('#modalProduct').modal('show');
                    },
                    error: function () {
                        $('#modalFormProduct').html('<p>Error al cargar el formulario.</p>');
                    }
                });
            }else{
                $.ajax({
                    url: '../producto/agregar/',
                    method: 'GET',
                    success: function (data) {
                        $('#modalFormProduct').html(data);
                        $('#formProductTitle').html("Agregar Producto");
                        $('#formProduct').attr('method', 'post');
                        $('#formProduct').attr('action', `../producto/agregar/`);
                        $('#modalProduct').modal('show');
                    },
                    error: function () {
                        $('#modalFormProduct').html('<p>Error al cargar el formulario.</p>');
                    }
                });
            }
        });

        $('.btnDeleteProduct').on('click', function() {
            let btn = $(this);
            let productId = btn.data('id');
            let productName = btn.data('name');
            $('#lblProductName').text(productName);
            $('#formDeleteProduct').attr('action', `../producto/eliminar/${productId}/`);
            
            $('#modalDeleteProduct').modal('show');
        });

    })
</script>

{% endblock %}