@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ‘Inter’, sans,serif;
}

body {
  background: rgb(247, 244, 244);
  color: #ffffff;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero { 
background: linear-gradient(135deg, #3e1a4e, #1a1a1a 100%);
  text-align: center;
  padding: 10px 20px;
  border-bottom: 1px solid #f8fafc;
}

.hero h1 {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.hero p {
  color: #c3cedd;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.boton {
  background-color: #8a2be2; 
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.2s ease, transform 0.15s ease;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  width: auto;
  box-shadow: 0 4px 8px rgba(138, 43, 226, 0.3);
}

.boton:hover {
  background-color: #7026b9; 
  transform: translateY(-2px); 
  box-shadow: 0 6px 12px rgba(138, 43, 226, 0.4);
}


.barberias {
  padding: 60px 20px;
  background: linear-gradient(135deg, #3e1a4e, #1a1a1a 100%);
  text-align: center;
}

.barberias h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #ffffff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  background-color: #f9fafa;
  border-radius: 12px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 0 20px rgba(55, 1, 99, 0.3);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card h3 {
  color: #0e0e0e;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.card p {
  color: #73c409;
  font-size: 0.95rem;
}

footer {
  background: linear-gradient(135deg, #3e1a4e, #1a1a1a 100%);

  color: #99aab5;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #99aab5;
  font-size: 0.9rem;
}


 .Logo {
  width: 200px; /* más pequeña que antes */
  height: auto;
  display: block;
  margin: 0 0 20px 0; /* margen solo abajo */
  text-align: left;
}

.hero2 { 
background: linear-gradient(135deg, #3e1a4e, #1a1a1a 100%);
  text-align: center;
  padding: 30px 20px;
    border-bottom: 1px solid #f8fafc;
     }


.hero2 h1 {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.hero2 p {
  color: #c3cedd;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.card1 img {
  width: 30%;
  border-radius: 8px;
  margin-bottom: 15px;
  align-items: center;
  gap: 10px;
}