@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Inter', 'Segoe UI', sans-serif;
}

body {
   background: linear-gradient(135deg, #b483d3 30%, #1a1a1a 100%);
    color: #ffffff;
    font-family: 'Segoe UI', Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    background-color: #2a2b2f;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 350px;
}

.container p {
    font-size: 16px;
    color: #d4d7dc;
    margin-bottom: 30px;
}
