{% extends "base.html" %}
{% load static %}

{% block title %}Barberos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'admin_module/css/barberos.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- <div class="acciones-globales text-end mb-4">
  <button class="btn btn-outline-add_item me-2" onclick="tuFuncion()">
    <i class="fas fa-plus me-1"></i> Agregar Barbero
  </button>
</div> -->

<div class="container">

  <ul class="nav nav-tabs mb-4" id="adminTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="team-tab" data-bs-toggle="tab" data-bs-target="#teamContent" type="button" role="tab">
        <i class="fas fa-users"></i> Equipo
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="request-tab" data-bs-toggle="tab" data-bs-target="#requestContent" type="button" role="tab">
        <i class="fas fa-file-alt me-2"></i> Vinculación
      </button>
    </li>
  </ul>

  <div class="tab-content" id="tabContent">

    <div class="tab-pane fade show active" id="teamContent" role="tabpanel">
      <div class="row g-4">
        {% if team %}
          {% for barbero in team %}
            <div class="col-md-3 col-sm-6 col-12 d-flex justify-content-center mb-4">
              <div class="card barbero">
                <img src="{% static 'admin_module/img/foto_barbero1.png' %}" class="card-img-top" alt="Foto de {{ barbero.nombre }}">
                <div class="card-body">
                  <h1 class="card-title">{{ barbero.first_name }} {{ barbero.last_name }}</h1>
                  <p class="card-text"><strong>Celular:</strong> {{ barbero.profile.phone }}</p>
                  <p class="card-text"><strong>Calificación:</strong> {{ barbero.profile.qa_average }} ⭐</p>
                  <p class="card-text"><strong>Cumpleaños:</strong> {{ barbero.profile.birth_date }}</p>
                  <!-- <p class="card-text"><strong>Horario:</strong> {{ barbero.horario }}</p>
                  <p class="card-text"><strong>Ingresos:</strong> ${{ barbero.ingresos_generados }}</p>
                   -->
                </div>
                <div class="card-footer d-flex flex-column align-items-start gap-2">
                  <p class="card-text">
                    {% if barbero.is_active %}
                    <span class="text-success">🟢 Activo</span>
                    {% else %}
                    <span class="text-danger">🔴 Inactivo</span>
                    {% endif %}
                  </p>
                  <a class="btn btn-outline-primary btn-m w-100" href="{% url 'admin_module:calendario_barbero' barbero.id %}">
                    <i class="bi bi-calendar-week"></i> Ver Agenda
                  </a>
                  <!-- <div class="d-flex w-100 justify-content-between">
                    <a href="#" class="btn btn-sm btn-outline-secondary">✏️ Editar</a>
                    <a href="#" class="btn btn-sm btn-outline-danger">🛑 Desactivar</a>
                  </div> -->
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-12 text-center">
            <p class="text-muted">No tiene colaboradores vinculados.</p>
            <button type="button" class="btn" role="tab">
              <i class="fas fa-plus me-2"></i>Vincular Colaborador
            </button>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="tab-pane fade" id="requestContent" role="tabpanel">
      <div class="d-flex justify-content-between mb-3">
            <h4>Gestión de solicitudes</h4>
            <button class="btn btn-primary" id="btnAddVinculation">
                <i class="fas fa-plus"></i> Solicitud
            </button>
        </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover display" id="requestTable">
          <thead class="table-dark">
              <tr>
                  <th>Solicitado Por</th>
                  <th>Estado</th>
                  <th>Fecha</th>
                  <th>Ultima Fecha</th>
                  <th>Dirigida a</th>
                  <th>Tipo</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              {% for request in requests %}
                <tr>
                    <td>{{ request.created_by.username }}</td>
                    <td>{{ request.status.name }}</td>
                    <td>{{ request.created_at }}</td>
                    <td>{{ request.updated_at }}</td>
                    <td>{{ request.recipient.username }}</td>
                    <td>{{ request.workflow_type.name }}</td>
                    <td>
                        {% if request.status.name == "En espera"%}
                          <button class="btn btn-sm btn-danger btnDeleteVinculation" data-id="{{ request.id }}">
                            Eliminar
                          </button>
                        {% endif %}
                    </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>

{% if messages %}
<div class="container">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <i class="bi bi-info-circle-fill me-2"></i>{{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
</div>
{% endif %}

<!-- Modal para el calendario -->
<div id="calendario-modal" class="modal fade" tabindex="-1" aria-hidden="true" onclick="cerrarCalendario()">
  <div class="modal-dialog modal-dialog-centered modal-lg" onclick="event.stopPropagation()">
    <div class="modal-content shadow-lg border-0 rounded-3">
      <div class="modal-header bg-light">
        <h5 class="modal-title">Calendario del Barbero</h5>
        <button type="button" class="btn-close" onclick="cerrarCalendario()"></button>
      </div>
      <div class="modal-body p-0">
        <iframe id="iframe-calendario" src="" style="width: 100%; height: 500px; border: none;"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalVinculation" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" id="modalFormVinculation">
        <!-- Se carga el formulario de la solicitud de vinculación aquí por medio de petición GET. -->
    </div>
</div>

<div class="modal fade" id="modalDeleteVinculation" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form id="formDeleteVinculation" method="POST">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro que deseas eliminar la solicitud de vinculación?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
  $(document).ready(function () {
    $('#requestTable').DataTable({
        language: {
            url: 'https://cdn.datatables.net/plug-ins/2.3.2/i18n/es-ES.json'
        },
        dom: '<"d-flex justify-content-between mb-2"fB>rt<"d-flex justify-content-between mt-2"lip>',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        pageLength: 10,
    });

    $('#btnAddVinculation').on('click', function() {
      $('#modalFormVinculation').html('<p>Cargando formulario...</p>');
      let btn = $(this);
      let productId = btn.data('id');
      
      $.ajax({
        url: '../barberos/vinculation/',
        method: 'GET',
        success: function (data) {
          $('#modalFormVinculation').html(data);
          $('#formVinculationTitle').html("Solicitud de Vinculación");
          $('#formVinculation').attr('method', 'post');
          $('#formVinculation').attr('action', `../barberos/vinculation/`);
          $('#modalVinculation').modal('show');
        },
        error: function () {
          $('#modalFormVinculation').html('<p>Error al cargar el formulario.</p>');
          $('#modalVinculation').modal('show');
        }
      });
    });

    $('.btnDeleteVinculation').on('click', function() {
      let btn = $(this);
      let reqVinculationId = btn.data('id');
      $('#formDeleteVinculation').attr('action', `../barberos/vinculation/eliminar/${reqVinculationId}/`);
      $('#modalDeleteVinculation').modal('show');
    });

  });


  function mostrarCalendario(barberoId) {
    const modal = document.getElementById('calendario-modal');
    const iframe = document.getElementById('iframe-calendario');
    iframe.src = `/barberos/${barberoId}/calendario/`;
    modal.classList.add('show');
    modal.style.display = 'block';
  }

  function cerrarCalendario() {
    const modal = document.getElementById('calendario-modal');
    modal.classList.remove('show');
    modal.style.display = 'none';
    document.getElementById('iframe-calendario').src = '';
  }

  window.onclick = function (event) {
    const modal = document.getElementById('calendario-modal');
    if (event.target === modal) {
      cerrarCalendario();
    }
  }
</script>
<!-- <script type="text/javascript">
  (function(d, t) {
      var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
      v.onload = function() {
        window.voiceflow.chat.load({
          verify: { projectID: '685388ff4fde8f0ba4fec507' },
          url: 'https://general-runtime.voiceflow.com',
          versionID: 'production',
          voice: {
            url: "https://runtime-api.voiceflow.com"
          }
        });
      }
      v.src = "https://cdn.voiceflow.com/widget-next/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
  })(document, 'script');
</script> -->
{% endblock %}