{% load static %}
<style>

</style>
<div id="header">
  <nav class="navbar navbar-expand-lg px-3 d-flex justify-content-center">
    <div class="mx-4 d-flex align-items-center justify-content-center" style="height: 40px;">
      <img src="{% static '/img/logo.png' %}" alt="Logo Barbería" style="height: 50px; width: 140px;">
    </div>
    <button class="navbar-toggler bg-light mt-2" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <li class="nav-item bg-button">
          <a id="rol">
            {% if request.session.current_role %}
            <span>{{ request.session.current_role }}</span>
            {% endif %}
          </a>
        </li>
        <li class="nav-item bg-button">
          <a class="btn  btn-light" href="{% url 'admin_module:perfil_usuario' %} ">
            {{ request.user.get_full_name|default:request.user.username }}
            <i class="bi bi-person-badge"></i>
          </a>
        </li>
        <li class="nav-item">
          <form method="post" action="{% url 'admin_module:logout' %}">
            {% csrf_token %}
            <button class="btn  btn-light" type="submit">
              <i class="bi bi-box-arrow-right"></i>
            </button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
</div>