{% load sidebar_tags %}
{% modules_sidebar as sidebar_items %}


<style>
</style>
<nav id="sidebar" class="bg-info d-none d-md-block text-white min-vh-100 d-flex flex-column px-3 sidebar-expanded"
    style="width: 220px; transition: width 0.3s;">
    <div class="d-flex justify-content-end">
        <button id="toggleSidebar" class="btn btn-sm btn-outline-light">
            <i class="bi bi-list"></i>
        </button>
    </div>
    <ul class="nav nav-pills flex-column mb-auto">
         {% for url_name, icon, label in sidebar_items %}
        <li class="nav-item">
            <a class="nav-link text-white d-flex align-items-center" href="{% url url_name %}">
                <i class="bi bi-{{ icon }} me-2"></i>
                <span class="sidebar-label">{{ label }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>